<%- include("head"); -%>

<body>
	<%- include("header"); -%>
	<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

	<div class="container">
		<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="sv_SE" data-type="horizontal" data-theme="dark" data-vanity="felix-ringberg-411a68156"><a class="LI-simple-link" href='https://se.linkedin.com/in/felix-ringberg-411a68156?trk=profile-badge'>Felix Ringberg</a></div>
	</div>
</body>
</html>