<!DOCTYPE html>
<html lang="sv">

<head>
	<meta charset="UTF-8">
	<title>Felix Hemsida</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<style>
		body {
			padding-top: 100px;
			background-color: #132a49;
			color: #dfdfdf;
		}

		.mybox {
			padding: 50px;
			border-radius: 20px;
			background: #132a49;
			box-shadow: 10px 10px 30px #10243e,
				-10px -10px 30px #163054;
		}
	</style>
</head>