<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/index/view">Felix Hemsida</a>
		</div>
	
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li <% if (typeof page !== "undefined" && page === "index") { %>class="active"<% } %>>
					<a href="/index/view">Hem</a>
				</li>
				<li <% if (typeof page !== "undefined" && page==="products") { %>class="active"<% } %>>
					<a href="/products/view">Produkter</a>
				</li>
				<li <% if (typeof page !== "undefined" && page==="about") { %>class="active"<% } %>>
					<a href="/about/view">Om mig</a>
				</li>
			</ul>
		</div>
	</div>
</nav>