<%- include("head"); -%>

<body>
	<%- include("header"); -%>

	<div class="container">
		<div class="mybox">
			<h1>
				Hej!<br/>
				<small>Välkommen till min hemsida!</small>
			</h1>
		</div>
	</div>
</body>
</html>