<%- include("head"); -%>

<body>
	<%- include("header"); -%>

	<% if (typeof product !== "undefined") { %>
		<div class="container">
			<div class="mybox">
				produkt-id: <%= product.id %><br/>
				namn:  <%= product.name %><br/>
				pris (SEK): <%= product.price_sek %><br/>
				<% if (product.images) { %>
					<% if (product.images.front) { %>
						<a href="<%= product.images.front %>">bild</a>
					<% } %>
				<% } %>
			</div>
		</div>
		<br /><br />
	<% } %>
</body>

</html>